<footer>
    <div class="footer-top">
        <div class="container">
            <div class="footer-row">
                <div class="footer-col">
                    <a href="#" title="Logo" class="logo-link" routerLink="home" routerLinkActive="router-link-active">
                        <img src="../../assets/images/logo.png" alt="logo">
                    </a>
                    <ul class="social-links">
                        <li>
                            <a href="#">
                                <img src="../../assets/images/facebook.svg" alt="facebook" title="Facebook">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../assets/images/twitter.svg" alt="twitter" title="Twitter">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../assets/images/linkedin.svg" alt="linkedIn" title="LinkedIn">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <div class="footer-heading">Quick links</div>
                    <ul class="footer-links">
                        <li><a href="#" title="About CTN">About CTN</a></li>
                        <li><a href="#" title="CTN Fees" class="ctn-fees">CTN Fees</a></li>
                        <li><a href="#" title="Tracker">Tracker</a></li>
                        <li><a href="#" title="Contact Us">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <div class="footer-heading">Company</div>
                    <ul class="footer-links">
                        <li><a href="#" title="Home" routerLink="home" routerLinkActive="router-link-active" class="links">Home</a></li>
                        <li><a href="#" title="About Us">About Us</a></li>
                        <li><a href="#" title="Career">Career</a></li>
                        <li><a href="#" title="Help/Support">Help/Support</a></li>
                        <li><a href="#" title="How it works">How it works</a></li>
                    </ul>
                </div>
                <div class="footer-col newsletter-col">
                    <div class="footer-heading">Subscribe Newsletter</div>
                    <p>Subscribe to our newsletter for latest updates.</p>
                    <form action="">
                        <input type="email" placeholder="Enter you email address">
                        <button class="primary-btn btn" type="submit" title="Subscribe">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-row">
                <ul>
                    <li><a href="#" title="Terms & Conditions">Terms &amp; Conditions</a></li>
                    <li><a href="#" title="Privacy Policy">Privacy Policy</a></li>
                </ul>
                <div>
                    <p>Natur Global Solution &copy; 2020 All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>

