<div class="card ctn-fees-card">
    <div class="card-body">
        <p>Please find below the fees applicable for the issuance of each ctn form.</p>
        <table class="table">
            <thead>
                <tr>
                    <th class="cargo-type">Cargo Type</th>
                    <th class="import-fee">Import Fee</th>
                    <th>Export Fee</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p class="bold">Container</p>
                        <p>Lower or equal to 20 feet</p>
                        <p>Greater than20 feet</p>
                    </td>
                    <td>
                        <p>USD 105 per container</p>
                        <p>USD 210 per container</p>
                    </td>
                    <td>
                        <p>UDS 15 per container</p>
                        <p>USD 30 per container</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="bold">Bulk, Break-Bulk & Conventional</p>
                    </td>
                    <td>
                        <p>USD 0.84 per ton</p>
                    </td>
                    <td>
                        <p>Bauxite: USD 0.18 per ton</p>
                        <p>Rutile/Zircon/Ilmenite: USD 0.36 per ton</p>
                        <p>Other: USD 0.40 per ton</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="bold">Vehicles</p>
                        <p>Lower than 5 tons</p>
                        <p>Greater or equal to 5 tons</p>
                    </td>
                    <td>
                        <p>UDS 108 per vehicle</p>
                        <p>USD 204 per vehicle</p>
                    </td>
                    <td>
                        <p>USD 15 per vehicle</p>
                        <p>USD 30 per vehicle</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

        
