<section class="contact-detail-wrapper">
    <div class="container">
        <div class="contact-detail-row">
            <div class="contact-col">
                <div class="card">
                    <div class="card-body">
                        <i class="card-icon"><img src="../../assets/images/address.svg" alt="Address"></i>
                        <h3>Logistics Solutions & Services (LSS)</h3>
                        <address>
                            48 Big Waterloo Street, Freetown,<br>
                            Sierra Leone
                        </address>
                    </div>
                </div>
            </div>
            <div class="contact-col">
                <div class="card">
                    <div class="card-body">
                        <i class="card-icon"><img src="../../assets/images/contact.svg" alt="Contact"></i>
                        <h3>Helpdesk</h3>
                        <div class="contact-link">
                            E: <a href="mailto:info@lsssolution.com " title="info@lsssolution.com ">info@lsssolution.com </a>
                        </div>
                        <div class="contact-link">
                            P: <a href="tel:+232 80272727" title="+232 80272727">+232 80272727</a>,<a href="tel:+232 75272727" title="+232 75272727">+232 75272727</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  
