.banner-wrapper {
    position: relative;
    .banner-carousel {
        .item{
            height: 900px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    } 
    .banner-content {
        max-width: 957px;
        width: 100%;
        position: absolute;
        top: 55%;
        left: 50%;
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        .banner-title{
            font-size: 36px;
            line-height: 46px;
            color: #ffffff;
            font-weight: 700;            
            text-align: center;
            filter: drop-shadow(0 0 4px rgba(0,0,0,0.24));
            margin-bottom: 25px;
        }
        p{
            font-size: 20px;
            line-height: 32px;
            color: #ffffff;
            font-weight: 400;
            text-align: center;
            filter: drop-shadow(0 0 4px rgba(0,0,0,0.24));
            margin-bottom: 30px;
            padding: 0 90px;
        }
        .banner-btn {
            display: flex;
            justify-content: center;
            .btn{
                min-height: 60px;
                min-width: 280px;
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }        
}
