<section class="banner-wrapper">
    <ngb-carousel class="banner-carousel">
        <ng-template ngbSlide>
            <div class="item" style="background-image: url(../../assets/images/home_banner01.jpg);"></div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="item" style="background-image: url(../../assets/images/home_banner02.jpg);"></div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="item" style="background-image: url(../../assets/images/home_banner03.jpg);"></div>
        </ng-template>
    </ngb-carousel>

    <div class="banner-content">
        <h1 class="banner-title">VIEWING THE COMPLETE IMPORT/EXPORT CARGO
        ACTIVITIES QUICKER & CLOSER</h1>
        <p>Our authentication of conformity service that helps in ensuring that all shipments conform to ISPS and local
        importing standards ahead of the arrival in order to allow trade parties to process import/export
        certification and timely screen all
        movements of goods across borders.</p>
        <div class="banner-btn">
            <a title="Shipper Login" class="primary-btn btn">Shipper login</a>
            <a title="MRN Login" class="primary-btn btn" >MRN login</a>
        </div>
    </div>
</section>
